* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lora, Arial, sans-serif;
  font-size: 1.1111rem;
  color: white;
}

section {
  height: 100vh;
  width: 100%;
  min-width: 500px;
}

.page1 {
  background-image: url(./Images/page1bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.page1 .lightblueBox {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(60, 149, 168, 0.7);
  min-width: 500px;
}

.page1 .basicInfo {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.page1 .basicInfo div {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 50%;

  justify-content: center;
}

.page1 .basicInfo div h1 {
  width: auto;
  font-family: "Quicksand", Arial, Helvetica;
  font-size: 3.25rem;
  color: white;
  flex: 1;
}

.page1 .basicInfo div p {
  flex: 1;
  background: rgba(255, 164, 107, 1);
  display: flex;
  align-items: center;
  padding: 20px;
  letter-spacing: 2px;
}

.page2 {
  display: flex;
  align-items: center;
}

.page2 .page2Bg {
  position: absolute;
  height: 100vh;
  width: 75%;
  background: url(./Images/page2bg.png);
  background-size: cover;
  right: 0;
  flex: auto;
  min-width: 500px;
}

.page2 .aboutMe {
  position: absolute;
  width: 40%;
  background: rgba(255, 164, 107, 1);
  margin-left: 10%;
  padding: 30px;
  min-width: 300px;
}

.page2 .aboutMe h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Quicksand", Arial, Helvetica;
  border-bottom: 5px solid white;
}

.page2 .aboutMe p {
  font-size: 0.8125em;
  padding-top: 20px;
  text-align: justify;
}

.page3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.page3 .heading {
  flex: 1;
  min-width: 400px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.page3 h2 {
  color: rgba(255, 164, 107, 1);
  font-size: 2.5rem;
  font-family: "Quicksand", Arial, Helvetica;
  border-bottom: 8px solid #3c95a8;
  padding-bottom: 10px;
  word-wrap: none;
}

.page3 .servicesTab {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap;
  padding: 40px;
}

.page3 .servicesTab .service {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  min-width: 300px;
}

.service img {
  height: 50px;
}
#last {
  height: 70px;
}
.service div {
  padding-left: 30px;
  max-width: 350px;
  max-height: fit-content;
}

.service div > h3 {
  color: rgba(255, 164, 107, 1);
  font-size: 1.25em;
}

.service div > p {
  color: #3c95a8;
  size: 0.815em;
  margin-top: 8px;
  text-align: justify;
}

.page4 {
  background: #3c95a8;
  display: flex;
  align-items: center;
}

.page4 .page4Bg {
  position: absolute;
  background: url(./Images/page4bg.png);
  background-size: cover;
  height: 100vh;
  width: 75%;
}

.page4 .contact {
  position: absolute;
  width: 40%;
  background: rgba(255, 164, 107, 1);
  right: 10%;
  padding: 50px 30px;
  text-align: end;
  min-width: 300px;
}

.page4 .contact h2 {
  color: white;
  font-size: 2.5rem;
  font-family: "Quicksand", Arial, Helvetica;
  border-bottom: 8px solid white;
}

.page4 .contact h3 {
  margin-top: 40px;
  font-size: 1rem;
}

.page4 .contact p {
  margin-top: 0px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: Lora, Arial, sans-serif;
  font-size: 0.9rem;
}

@media (max-width: 768px), (orientation: portrait) {
  .page2 .page2Bg {
    width: 100%;
    background-size: cover;
  }
  .page1 .basicInfo div {
    width: 100%;
    margin: 0 15%;
  }
  .page1 .basicInfo div h1 {
    font-size: 2rem;
  }

  .page1 .basicInfo div p {
    font-size: 0.7rem;
  }

  .page2 .aboutMe {
    width: 100%;
    margin: 0 15%;
  }

  .page2 .aboutMe h2 {
    font-size: 2rem;
  }
  .page2 .aboutMe p {
    font-size: 0.7rem;
  }
  .page3 h2 {
    font-size: 2rem;
  }
  .service div > h3 {
    font-size: 0.9em;
  }
  .service div > p {
    size: 0.65em;
  }
  .service img {
    height: 35px;
  }
  #last {
    height: 50px;
  }
  .page4 .contact h2 {
    font-size: 2rem;
  }
  .page4 .contact h3 {
    font-size: 0.9rem;
  }

  .page4 .contact p {
    font-size: 0.7rem;
  }
}
