* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lora, Arial, sans-serif;
    font-size: 1.1111rem;
    color: white;
}


section {
    height: 100vh;
    width: 100%;

}

.page1 {
    background-image: url(./Images/page1bg.jpg);
    background-size: cover;
    background-position: bottom;
}

.page1 .lightblueBox {
    position: absolute;
    height: inherit;
    width: inherit;
    background: rgba(60, 149, 168, 0.7)
}

.page1 .basicInfo {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}

.page1 .basicInfo div {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 130px;
    justify-content: center;

}

.page1 .basicInfo div h1 {
    width: auto;
    font-family: "Quicksand", Arial, Helvetica;
    font-size: 3.625rem;
    color: white;
    flex: 1;

}

.page1 .basicInfo div p {
    flex: 1;
    background: rgba(255, 164, 107, 1);
    display: flex;
    align-items: center;
    padding-left: 15px;
    letter-spacing: 2px;

}


.page2 {
    display: flex;
    align-items: center;
}

.page2 .page2Bg {
    position: absolute;
    height: 100vh;
    width: 75%;
    background: url(./Images/page2bg.png);
    background-size: cover;
    right: 0;
}

.aboutMe {
    position: absolute;
    width: 500px;
    background: rgba(255, 164, 107, 1);
    margin-left: 10%;
    padding: 30px;
}

.aboutMe h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Quicksand", Arial, Helvetica;
    border-bottom: 5px solid white;
}

.aboutMe p {
    font-size: 0.8125em;
    padding-top: 20px;
}

.page3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.page3 .heading {
    flex: 1;
    display: flex;
    justify-content: center;
}

.page3 h2 {
    color: rgba(255, 164, 107, 1);
    font-size: 2.5rem;
    font-family: "Quicksand", Arial, Helvetica;
    border-bottom: 8px solid #3c95a8;
    padding-bottom: 10px;
}

.page3 .servicesTab {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.page3 .servicesTab .service {
    display: flex;
    color: black;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service img {
    padding: auto;
}

.service div {
    margin-left: 30px;
    max-width: 400px;

}

.service div>h3 {
    color: rgba(255, 164, 107, 1);
    font-size: 1.25em;
}

.service div>p {
    color: #3c95a8;
    size: 0.815em;
    margin-top: 8px;
}

.page4 {
    background: #3c95a8;
    display: flex;
    align-items: center;
}

.page4 .page4Bg {
    position: absolute;
    background: url(./Images/page4bg.png);
    height: 100vh;
    width: 75%;
}

.page4 .contact {
    position: absolute;
    width: 50%;
    background: rgba(255, 164, 107, 1);
    right: 10%;
    padding: 50px 30px;
    text-align: end;
}

.page4 .contact h2 {
    color: white;
    font-size: 2.5rem;
    font-family: "Quicksand", Arial, Helvetica;
    border-bottom: 8px solid white;
}


.page4 .contact h3 {
    margin-top: 40px;
    font-size: 1rem;
}

.page4 .contact p {
    margin-top: 0px;
    font-size: 0.9rem;
}